
body{
background: linear-gradient(to left, #CC88C7, #BC9AFA);
}

/* Color y estilo de la cabezera */
header{
background: linear-gradient(to left, #BC9AFA, #CC88C7);
  padding: 0 0;
  border-radius: 30px;
  position: relative;
}

/* Estilo para el contenedor del navbar */
.caja{
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav{
  position: absolute;
  top: 110px;
  right: 0;
}

/* Estilos para la lista */
nav li{
  display: inline;
  margin: 0 0 0 16px;
}

/* Estilo para el navbar que lleva a los enlaces y formulario */
nav a{
  text-transform: uppercase;
  color: black;
  font-size: 22px;
  text-decoration: none;
}
.img{
  width: 100%;
}

/* Estilos para el modal que es el formulario */
.modal{
  display: none;
  position: fixed;
  top: 45px;
  width: 67rem;
  z-index: 1;
  overflow: auto;
}
  
.modal-content{
 background: linear-gradient(to bottom, #BC9AFA,  #E016E0);
  margin-left: 50%;
  color: #141414;
  padding: 20px;
  border-radius: 20px;
  max-width: 600px; /* Máximo ancho para asegurar que no sea demasiado grande en pantallas grandes */
}

.input{
  display: block;
  background: transparent;
  border: 2px solid #141414;
  padding: 10px 20px;
  width: 80%;
  border-radius: 25px;
}

table{
  padding: 40px;
}

thead{
  background: #555555;
}
td, th{
  border: 1px solid #000000;
  padding: 8px 15px;
}

  footer{
    padding: 0px;
    text-align: center;
    background: url(../../image/bg.jpg)
  }

  .Copyright{
    color: #ffffff;
    font-size: 14px;
    margin: 20px;
  }
