
body{
background: linear-gradient(to bottom, rgba(12, 17, 22, 0.5),  #141414);
}

.caja{
  width: 940px;
  position: relative;
  margin: 0 auto;
}
.img{
  width: 100%;
}
.modal{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 60rem;
  height: 60rem;
  z-index: 1;
  overflow: auto;
  justify-content: center;
  align-items: center;
}
  
.modal-content{
 background: linear-gradient(to bottom, rgba(224, 22, 112, 0.5),  #E016E0);
  margin-left: 50%;
  margin-top: 10%;
  color: #141414;
  padding: 20px;
  border-radius: 20px;
  max-width: 600px; /* Máximo ancho para asegurar que no sea demasiado grande en pantallas grandes */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra opcional para darle profundidad */
}

.input{
  display: block;
  background: transparent;
  border: 2px solid #141414;
  padding: 10px 20px;
  width: 80%;
  border-radius: 25px;
}

  footer{
    padding: 40px;
    text-align: center;
    background: url(../../image/bg.jpg)
  }

  .Copyright{
    color: #ffffff;
    font-size: 14px;
    margin: 20px;
  }
